@import "./src/components/common/variables";

.fadeInUp {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  flex: 1 1 45%;
  padding-right: 15px;

  h5 {
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    border: 0;
    color: $backgroundColorPrimary;
  }

  .progress {

    .progressBar {
      background: #bababa;
      border-radius: 13px;
      height: 5px;
      width: 100%;
      padding: 0px;
      &::after {
        content: '';
        display: block;
        background: $backgroundColorSecondary;
        height: 100%;
        border-radius: 9px;
      }
    }

    .react {
      background: #bababa;
      border-radius: 13px;
      height: 5px;
      width: 100%;
      padding: 0px;
      &::after {
        width: 86%;
        content: '';
        display: block;
        background: $backgroundColorSecondary;
        height: 100%;
        border-radius: 9px;
      }
    }

    .redux {
      &::after {
        width: 82%;
      }
    }

    .SASS {
      &::after {
        width: 80%;
      }
    }

    .TypeScript {
      &::after {
        width: 90%;
      }
    }

    .JavaScript {
      &::after {
        width: 93%;
      }
    }

    .Jest {
      &::after {
        width: 84%;
      }
    }

    .HTML {
      &::after {
        width: 91%;
      }
    }

    .Ajax {
      &::after {
        width: 86%;
      }
    }


  }
}

