@import "./../common/mixin";
@import "./../common/variables";

.wrapper {
  min-height: calc(100vh - 50px);;
  background-color: $backgroundColorPrimary;
  @include displayFlex(row, center, center);
  flex-wrap: wrap;

  .particles {
    position: absolute;
    top: 74px;
    left: 0;
    bottom: 0;
    right: 0;
    @media (max-width: 480px) {
      top: 54px;
    }
  }

  .mainContainer {
    height: 30%;
    @include displayFlex(row, center, center);
    flex-wrap: wrap;
    width: 100%;
    @media (min-width: 830px) {
      flex-direction: row;
      justify-content: space-evenly;
    }

    h5 {
      font-size: 20px;
      letter-spacing: 1px;
      font-weight: 400;
      margin-left: 10px;
      margin-top: 0;
    }

    .mainPhoto {
      height: 350px;
      width: 350px;
      object-fit: cover;
      border-radius: 50%;
      z-index: 1;
      position: relative;
      max-width: 100%;
      vertical-align: middle;
      margin-top: 1.5rem ;
      @include marginBottomMain();
      @media (max-width: 767px) {
        height: 280px;
        width: 280px;
      }
    }

    .mainInfo {
      @include displayFlex(column, center, flex-start);
      max-width: 400px;
      @media (max-width: 955px) {
        align-items: center;
      }
      @media (min-width: 768px) {
        flex: 0 0 40%;
        max-width: 40%;      }

      h1, .mainName {
        font-size: 34px;
        margin-left: 10px;
        @include marginBottomMain();
        margin-top: 0;
        @media (max-width: 767px) {
          font-size: 26px;
          align-items: center;
          letter-spacing: 0;

        }
      }

      p {
        font-size: 20px;
        color: #5F6F81;
        margin-top: 0;
        margin-left: 10px;
        @include marginBottomMain();
        @media (max-width: 955px) {
          text-align: center;
        }
      }

      .mainInfoButtons {
        margin: 0 0 0 10px;

        .btnLink {
          background: transparent;
          color: #8444df !important;
          font-weight: 600;

          &:link, &:visited, &:hover, &:active {
            color: inherit;
            box-shadow: none;
          }

          &:hover {
            text-decoration: underline;

          }
        }
      }
    }
  }
}



