@import "./../../common/mixin";
@import "./../../common/variables";

.mouseWrap {
  align-self: flex-end;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  bottom: 20px;
  @media (max-width: 480px) {
    display: none;
  }

  .mouse {
    background:$textColorPrimary linear-gradient(transparent 0%, transparent 50%, #ffffff 50%, #ffffff 100%);
    position: relative;
    width: 30px;
    height: 50px;
    border-radius: 100px;
    background-size: 100% 200%;
    -webkit-animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite;
    animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite;
    margin: 0 auto;

    &::before, &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }

    &::before {
      width: 26px;
      height: 46px;
      background-color:$backgroundColorPrimary;
      border-radius: 100px;
    }

    &::after {
      background-color: $textColorPrimary;
      width: 4px;
      height: 4px;
      border-radius: 100%;
      -webkit-animation: trackBallSlide 5s linear infinite;
      animation: trackBallSlide 5s linear infinite;
    }
  }

  p {
    margin-top: 15px;
    letter-spacing: 2px;
    color: $textColorPrimary;
    animation: colorText 5s ease-out infinite, nudgeText 5s ease-out infinite;
    font-size: 10px;
    text-align: center;
  }
}