.header {
    display: flex;
    height: 80px;
    background-color: cyan;
    justify-content: center;
    align-items: center;
}

@media (min-width: 480px) {
    .header {
        justify-content: flex-end;
    }
}