@import "./../common/variables";

.header {
  display: flex;
  height: 60px;
  background-color: #8444df;
  justify-content: center;
  align-items: center;
  @media (min-width: 480px) {
    justify-content: space-between;
  }

  .avatarDetails {
    background-color: rgba(0, 0, 0, 0.1);
    display: none;
    @media (min-width: 570px) {
      display: flex;
      justify-content: center;
      width: 20vh;
    }

    h1 {
      margin: 0;
      font-size: 44px;
      font-weight: 300;
      color: #fff;
      opacity: 0.9;
      line-height: 60px;
      font-family: 'Poppins', sans-serif;
      letter-spacing: 2px;
    }
  }
}

