@import "./../common/variables";

.header {
  display: flex;
  background-color: #8444df;
  justify-content: center;
  padding: 12px 0;
  min-height: 30px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1040;
  border-bottom: 1px solid $backgroundColorPrimary;
  position: fixed;
  @media (min-width: 480px) {
    justify-content: space-between;
    align-items: center;
    height: 50px;

  }

  .avatarDetails {
    display: none;
    @media (min-width: 570px) {
      display: flex;
      justify-content: center;
      width: 20vh;
    }

    h1 {
      margin: 0;
      font-size: 44px;
      font-weight: 300;
      color: #fff;
      opacity: 0.9;
      line-height: 60px;
      font-family: 'Poppins', sans-serif;
      letter-spacing: 2px;
    }
  }
}

