@import "./variables";

@mixin displayFlex($flexDirection,$justifyContent, $alignItems, ) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin headingsStyle() {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  color: $textColorPrimary;
  font-weight: 500;
}

@mixin marginBottomMain() {
  margin-bottom: 1.5rem !important;
}

@mixin wrapperDefault($color) {
  min-height: 100vh;
  background-color: $color;
  @include displayFlex(column, center, center);
  flex-wrap: wrap;
  //border: 3px solid pink;
}

@mixin containerDefault() {
  //border: 2px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  @media (min-width: 480px){
    width: 80%;
  }
}

@mixin sectionInnerDefault() {
  min-height: 70vh;
  @include displayFlex(row, center, center);
  flex-wrap: wrap;
  width: 100%;
  //border: 2px solid green;
  @media (min-width: 830px) {
    flex-direction: row;
    justify-content: space-evenly;
  }
}