$navBar: #8444df;
$backgroundColorPrimary: #f7f7f7;
$backgroundColorSecondary: #fff;



$textColorPrimary: #333;
$textColorSecondary: #5F6F81;
$textColorTertiary: rgba(255, 255, 255, .7);



$textColorHigh: #007bff;
$backgroundColorHigh: rgba(0, 123, 255, .1);

$textColorMiddle:#28a745;
$backgroundColorMiddle:rgba(40, 167, 69, .1);
$backgroundColorLow:#dc3545;
