@import "./components/common/mixin";
@import "./components/common/variables";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font: 400 20px/1.8 'Poppins', sans-serif;
  color: $textColorPrimary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: overlay;
}
body::-webkit-scrollbar {
  width: 4px;
  height: 0px;
  background-color: transparent;
}

h1, h2, h3, h4, h5, h6{
  @include headingsStyle()
}
::-webkit-scrollbar-thumb {
  background: #8444df;
  border-radius: 3px;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
