@import "./src/components/common/variables";

.nav {

  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-around;
  @media (min-width: 570px) {
    width: 600px;
    justify-content: space-between;
    margin-right: 10%;
  }

  a {
    cursor: pointer;
    font: 400 14px/1.8 'Poppins', sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, .7);
    text-transform: uppercase;
    opacity: 1;
    display: block;
    border-radius: 6px;
    padding: 3px 4px;
    vertical-align: middle;
    line-height: normal;
    text-decoration: none;
    &:hover, &:active  {
      color: $backgroundColorSecondary;
      background: rgba(255,255,255,.2);
    }
    @media (min-width: 480px) {
      font-size: 16px;
      letter-spacing: 2px;
      padding: 5px 15px;
    }
  }
}

.active{
  color: $backgroundColorSecondary;
  background: rgba(255,255,255,.2);
}


